/* Universal Style Reset */

/* Reset all margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: visible;
}

/* Reset font styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Reset list styles */
ul,
ol {
  list-style: none;
}

/* Reset anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* Reset form styles */
input,
textarea,
button {
  border: none;
  outline: none;
}

/* Custom Styles */

:root {
  font-size: 16px;
  color: white;
  color-scheme: dark;
}

.fira-code-reg {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.mulish-reg {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: rgb(0, 0, 0);
}

/* Header Styles */

header {
  /* diameter of the circle */
  --d: 1px;

  background: radial-gradient(
      circle at var(--d) var(--d),
      rgba(255, 255, 255, 0.4) calc(var(--d) - 1px),
      #1f1f1f00 var(--d)
    )
    0 0 / 16px 16px;

  height: 100vh;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
}

.head-wrapper {
  flex-grow: 1;
  margin-bottom: 6rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.hero h1 {
  font-size: 4rem;
  font-weight: 800;
  margin: 0.75rem;
}

.hero h4 {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  opacity: 0.9;
}

.hero button {
  background-color: white;
  color: rgb(0, 0, 0);
  width: 7.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: 700;
}

.hero button:first-child {
  margin-right: 1rem;
}

.hero button:last-child {
  background-color: rgb(31, 34, 54);
  color: white;
}

.hero span {
  position: relative;
  width: fit-content;
  margin: 0;
  color: transparent;
  background: linear-gradient(to left, rgb(248, 108, 253), rgb(80, 102, 228));
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 20;
  text-shadow: none;
}

.focus {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100vw;
  -webkit-mask-image: radial-gradient(ellipse at center, transparent 25%, #000);
  mask-image: radial-gradient(ellipse at center, transparent 25%, #000);
  backdrop-filter: brightness(0.15);
}

.hero-content {
  text-align: center;
  position: relative;
  z-index: 5;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 1));
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 1);
}

#canvas {
  position: absolute;
  z-index: -1;
  opacity: 0.6;
  overflow: hidden;
}

nav {
  left: 25%;
  right: 25%;
  position: fixed;
  z-index: 300;
  display: flex;
  justify-content: center;
  overflow: visible;
}

.nav-wrapper {
  margin-top: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 4rem;
  border-radius: 4rem;
  width: 35rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: visible;
}

.nav-list {
  display: flex;
  gap: 1.5rem;
  overflow: visible;
}

.list-item {
  position: relative;
  cursor: pointer;
  overflow: visible;
  display: flex;
  justify-content: center;
}

.nav-dropdown {
  cursor: auto;
  position: absolute;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.8rem;
  text-wrap: nowrap;
  margin-top: 2.3rem;
  transition: all 0.24s ease-in-out;
  /* transform-origin: top center; */
  opacity: 0;
  overflow: hidden;
}

.nav-dropdown-ul {
  margin: 0rem 1rem;
}

.nav-dropdown li {
  margin-top: 1rem;
}

.nav-dropdown li:last-child {
  margin-bottom: 1rem;
}

.about-wrapper {
  margin: 4rem;
}

/* About Section */

.about {
  height: 50rem;
  /* margin: 10rem; */
}

.about h2 {
  font-size: 3.6rem;
  font-weight: 800;
  margin: 1rem 0;
  position: relative;
  overflow: visible;
  margin-bottom: 2.5rem;
}

.about h2::after {
  content: "";
  position: absolute;
  background-color: #aa83ff;
  width: 100%;
  margin-left: 2rem;
  padding: 1.5px;
  bottom: 45%;
  opacity: 0.5;
}

.number {
  color: #aa83ff;
  font-size: 3rem;
}

.about-content {
  display: flex;
  min-width: 1rem;
  align-items: center;
  /* justify-content: space-between; */
  gap: 3.5rem;
}

.about-head {
  max-width: 26rem;
  display: flex;
  flex-direction: column;
  padding-right: 4rem;
  border-right: 2px solid #aa83ff5d;
}

.about-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 45rem;
}

.about-head h3 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

.about-head h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.55rem;
  color: rgba(255, 255, 255, 0.8);
}

.about-head p {
  font-size: 1.05rem;
  margin-top: 0.5rem;
  color: rgba(255, 255, 255, 0.6);
}

.about-paragraph p {
  color: rgba(255, 255, 255, 0.8);
}
